<div style="background-color: #3f6ba4; height: 100px;">
  <div class="row">
    <div class="col-2" style="height: 100px">
      <img style="width: 200px; height: 100%; padding-right: 10px" src="../../assets/images/logo.png">
    </div>
    <div class="col-6"></div>
    <div *ngIf="idUser == null || idUser == ''" class="col-2">
      <button [routerLink]="['/login']" style="margin-top: 30px" class="btn btn-light">Đăng nhập</button>
    </div>
    <div *ngIf="idUser == null || idUser == ''" class="col-2">
      <button [routerLink]="['/register']" style="margin-top: 30px" class="btn btn-light">Đăng Ký</button>
    </div>
    <div *ngIf="idUser != null && idUser != ''" class="col-2">
      <div style="color: white; margin-top: 32px; cursor: pointer" [routerLink]="['/detailUser', idUser]">
        <sub><span class="material-icons">account_box</span></sub>&nbsp;
        <span style="font-size: 18px">{{username}}</span>
      </div>
    </div>
    <div *ngIf="idUser != null && idUser != ''" class="col-2">
      <button [routerLink]="['/login']" (click)="logout()" style="margin-top: 30px" class="btn btn-light">
        Đăng Xuất
      </button>
    </div>
  </div>
</div>

