<app-header></app-header>
<app-title [message]="title"></app-title>
<div class="container" style="margin-top: 10px; margin-bottom: 10px; background-color: whitesmoke">
   <span tooltip="Quay lại" [routerLink]="['/detailHouse', idHouse]" style="font-size: 35px; cursor: pointer;"
         class="material-icons hoverYellowColor">arrow_back</span>
  <hr style="margin-top: 0px">
  <div class="row">
    <div class="col-5" style="background-color: white; border-radius: 5px; margin-left: 10px; margin-right: 45px">
      <div style="font-size: 19px">
        <div>
          <p>Ngày bắt đầu thuê <span style="color: red">*</span></p>
          <input id="startDate" type="date">
        </div>
        <div style="margin-top: 20px">
          <p>Ngày kết thúc <span style="color: red">*</span></p>
          <input id="endDate" type="date">
        </div>
        <div class="row">
          <div class="col-4">
            <button style="margin-top: 20px" (click)="createTransactional()" type="button" class="btn btn-primary">
              Đặt thuê ngay
            </button>
          </div>
          <div class="col-6" *ngIf="loading">
            <div class="spinner-border text-primary" role="status" style="margin-top: 22px">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
      <div style="margin-top: 20px" *ngIf="messageError != null" class="alert alert-danger" role="alert">
        {{messageError}}
      </div>
    </div>
    <div class="col-6">
      <img class="boxShadow" style="width: 100%; height: 400px; border-radius: 5px"
           src="../../../assets/images/hop-dong.jpg">
    </div>
  </div>
  <hr>
  <div class="row" style="margin-bottom: 5px">
    <div class="col-12">
      <h5>Gợi ý cho bạn</h5>
      <div class="row">
        <div *ngFor="let house of houses as i" style="margin-left: 5px">
          <div *ngIf="house?.id == houseDetail?.id" hidden>
            <img style="width: 50px; height: 50px" src="{{house?.image}}">
          </div>
          <div *ngIf="house?.id != houseDetail?.id">
            <div class="row">
              <div class="col-8">
                <img class="boxShadow" style="width: 100%; height: 200px; border-radius: 5px" src="{{house?.image}}">
              </div>
              <div class="col-4">
                <p>{{house?.price}} VNĐ</p>
                <p>{{house?.district}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<app-snackbar [message]="message"></app-snackbar>
<button id="snackbarBtn" hidden onclick="myFunction()">Show Snackbar</button>
