<app-header></app-header>
<div class="container" style="margin-top: 10px; margin-bottom: 10px; background-color: whitesmoke">
   <span tooltip="Quay lại" [routerLink]="['/detailHouse', idHouse]" style="font-size: 35px; cursor: pointer;"
         class="material-icons hoverYellowColor">arrow_back</span>
  <hr style="margin-top: 0px">
  <div class="row">
    <div class="col-7">
      <div style="height: 600px; font-size: 19px">
        <div>
          <p>Ngày bắt đầu thuê:</p>
          <input id="startDate" type="date">
        </div>
        <div>
          <p>Ngày kết thúc:</p>
          <input id="endDate" type="date">
        </div>
        <button style="margin-top: 20px" (click)="createTransactional()" type="button" class="btn btn-primary">
          Đặt thuê ngay
        </button>
      </div>
      <div *ngIf="messageError != null" class="alert alert-danger" role="alert">
        {{messageError}}
      </div>
    </div>
    <div class="col-5">
      <h5>Gợi ý cho bạn</h5>
      <div class="row">
        <div *ngFor="let house of houses as i">
          <div *ngIf="house?.id == houseDetail?.id" hidden>
            <img style="width: 50px; height: 50px" src="{{house?.image}}">
          </div>
          <div *ngIf="house?.id != houseDetail?.id">
           <div class="row">
             <div class="col-8">
               <img class="boxShadow" style="width: 100%; height: 200px; border-radius: 5px" src="{{house?.image}}">
             </div>
             <div class="col-4">
               <p>{{house?.price}}</p>
             </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-snackbar [message]="message"></app-snackbar>
<button id="snackbarBtn" hidden onclick="myFunction()">Show Snackbar</button>
