<app-header></app-header>
<div class="container" style="margin-top: 30px; margin-bottom: 10px">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="input-group mb-3" style="border: 1px solid; border-radius: 5px">
        <input id="search" style="background-color: whitesmoke" type="text" class="form-control"
               placeholder="Tìm kiếm nhà theo địa chỉ..."
               aria-label="Recipient's username"
               aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button (click)="getAllHousePage(0, 10)" class="btn btn-outline-secondary" type="button">
            <sub><span style="font-size: 18px" class="material-icons">search</span></sub>
            Tìm kiếm
          </button>
        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
  <div class="row">
    <div class="col-9">
      <div *ngFor="let house of page?.content"
           style="border: #cccaca 1px solid; border-radius: 5px; margin-bottom: 20px">
        <div class="row">
          <div class="col-6">
            <img style="width: 100% ; height: 200px" src="{{house?.image}}" alt="Lỗi ảnh">
          </div>
          <div class="col-6">
            <p>{{house?.name}}</p>
            <p><sub><span style="font-size: 18px" class="material-icons">paid</span></sub>&nbsp;{{house?.price}}
              VNĐ/Tháng</p>
            <p><sub><span style="font-size: 18px"
                          class="material-icons">location_on</span></sub>&nbsp;{{house?.address}}</p>
            <p>&nbsp;{{house?.district}}</p>
            <p>&nbsp;{{house?.province}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div style="margin-bottom: 5px; margin-left: 5px; margin-top: 5px">
              <p>{{house?.username}}</p>
              <p>Ngày đăng: {{house?.createdAt | date: 'dd/MM/yyyy'}}</p>
            </div>
          </div>
          <div class="col-6">
            <button [routerLink]="['/detailHouse',house?.id ]" style="margin-bottom: 15px" type="button"
                    class="btn btn-info">Xem chi tiết
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3" style="background-color: whitesmoke; border-radius: 5px">
      <div>
        <div align="center" style="margin-top: 5px">
          <h6>Cho thuê nhà riêng tại Hà Nội</h6>
        </div>
        <div class="row" *ngFor="let address of countAddress">
          <div style="margin-left: 10px">
            <p class="cursorTag hoverYellowColor"
               (click)="searchByDistrict(0, 10, address?.district)">{{address?.district}} ({{address?.numberCount}})</p>
          </div>
        </div>
      </div>
      <hr>
      <div>
        <div align="center" style="margin-top: 5px">
          <h6>Top 5 ngôi nhà đắt nhất</h6>
        </div>
        <div class="row" *ngFor="let house of houses">
          <div style="margin-left: 10px; margin-right: 10px">
            <p class="hoverYellowColor cursorTag" [routerLink]="['/detailHouse',house?.id ]">{{house?.name}}</p>
            <p>{{house?.price}} VNĐ/Tháng</p>
            <img class="cursorTag" [routerLink]="['/detailHouse',house?.id ]" src="{{house?.image}}"
                 style="width: 100%; border-radius: 5px">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="col-2" align="left">
      <p style="margin-top: 5px; font-size: 17px">Trang: {{currentPageAddOne}}/ Tổng
        số: {{page?.page?.totalElements}}</p>
    </div>
    <div class="col-1" align="left">
      <div>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button type="button" class="btn btn-link" (click)="previousPage()">
              <span style="font-size: 15px"
                    class="material-icons hoverYellowColor cursorTag">arrow_back_ios</span>
            </button>
            <button type="button" class="btn btn-link" (click)="nextPage()">
            <span style="font-size: 15px"
                  class="material-icons hoverYellowColor cursorTag">arrow_forward_ios</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5"></div>
    <div class="col-4"></div>
  </div>
</div>
<app-snackbar [message]="message"></app-snackbar>
<button id="snackbarBtn" hidden onclick="myFunction()">Show Snackbar</button>
