<app-header></app-header>
<div class="container" style="margin-top: 10px; margin-bottom: 10px; background-color: whitesmoke">
  <span tooltip="Quay lại" [routerLink]="['/']" style="font-size: 35px; cursor: pointer;"
        class="material-icons hoverYellowColor">arrow_back</span>
  <hr style="margin-top: 0px">
  <div class="row">
    <div style="margin-top: 5px" class="col-8">
      <h5>{{houseDetail?.title}}</h5>
      <img style="width: 100%; height: 450px; border-radius: 5px" src="{{houseDetail?.image}}">
      <div class="row">
        <div class="col-10">
          <button *ngIf="houseDetail?.idUser != idUser && idUser != null"
                  [routerLink]="['/createTransactional',houseDetail?.id]"
                  style="margin-top: 10px"
                  type="button" class="btn btn-info">
            Đặt thuê nhà
          </button>
          <button *ngIf="houseDetail?.idUser == idUser" [routerLink]="['/createTransactional', houseDetail?.id]"
                  style="margin-top: 10px"
                  type="button" class="btn btn-info" disabled>
            Đặt thuê nhà
          </button>
        </div>
        <div class="col-2" align="right">
          <sup><span style="font-size: 15px; margin-top: 5px; color: red">{{countReport}}</span></sup>
          <sub>
            <span tooltip="Báo cáo" [routerLink]="['/createReport', houseDetail?.id]"
                  style="font-size: 25px; margin-top: 5px; color: red"
                  class="material-icons cursorTag">flag</span>
          </sub>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-6">
          <h4>{{houseDetail?.name}}</h4>
        </div>
        <div class="col-6" align="right">
          <span tooltip="Chỉnh sửa" [routerLink]="['/updateHouse', houseDetail?.id]"
                *ngIf="houseDetail?.idUser == idUser"
                class="material-icons hoverYellowColor cursorTag">edit</span>
        </div>
      </div>
      <p><span style="color: #3f6ba4"><b>{{houseDetail?.district}}</b></span>
        <span> - </span>
        <span style="color: #3f6ba4"><b>{{houseDetail?.province}}</b></span></p>
      <p>{{houseDetail?.address}}</p>
      <hr>
      <h5>Thông tin mô tả</h5>
      <p>{{houseDetail?.description}}</p>
      <hr>
      <h5>Đặc điểm bất động sản</h5>
      <div class="row">
        <div class="col-1">
          <p><span tooltip="Giá tiền" class="material-icons">paid</span></p>
        </div>
        <div class="col-2">
          <p>{{houseDetail?.price}}</p>
        </div>
        <div class="col-3">
          <p>VNĐ/1 tháng</p>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <p><span tooltip="Diện tích" class="material-icons">fit_screen</span></p>
        </div>
        <div class="col-2">
          <p>{{houseDetail?.acreage}}</p>
        </div>
        <div class="col-3">
          <p>M<sup>2</sup></p>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <p><span tooltip="Số phòng ngủ" class="material-icons">bedroom_parent</span></p>
        </div>
        <div class="col-2">
          <p>{{houseDetail?.numberOfBedrooms}}</p>
        </div>
        <div class="col-3">
          <p>Phòng ngủ</p>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <p><span tooltip="Số phòng tắm" class="material-icons">bathtub</span></p>
        </div>
        <div class="col-2">
          <p>{{houseDetail?.numberOfBathrooms}}</p>
        </div>
        <div class="col-3">
          <p>Phòng tắm</p>
        </div>
      </div>
      <hr>
      <h5>Bất động sản dành cho bạn</h5>
      <div class="row">
        <div *ngFor="let house of houses as i">
          <div *ngIf="house?.id == houseDetail?.id" hidden>
            <div style="margin-left: 15px">
              <img style="width: 50px; height: 50px" src="{{house?.image}}">
            </div>
          </div>
          <div *ngIf="house?.id != houseDetail?.id">
            <div style="margin-left: 15px">
              <img class="cursorTag" tooltip="Xem chi tiết" [routerLink]="['/detailHouse', house?.id]"
                   style="width: 50px; height: 50px"
                   src="{{house?.image}}">
            </div>
          </div>
        </div>
      </div>
      <hr>
      <h5>Bình luận: </h5>
      <div class="row">
        <div class="col-9">
          <textarea placeholder="Viết bình luận của bạn..." id="content"
                    style="width: 100%; height: 100px; border-radius: 5px"></textarea>
        </div>
        <div class="col-3">
          <button (click)="createComment()" type="button" class="btn btn-primary">Gửi bình luận</button>
        </div>
      </div>
      <h5>Tất cả bình luân: </h5>
      <div>
        <div class="row" *ngFor="let comment of comments"
             style="margin-bottom: 5px; background-color: #ead2d2; border-radius: 5px;
             border: #3f6ba4 1px solid; margin-left: 1px; margin-right: 1px">
          <div class="col-3">
            <span tooltip="Xem trang cá nhân" [routerLink]="['/detailUser', comment?.idUser]"
                  class="cursorTag" style="font-size: 18px">{{comment?.username}}: </span>
            <p style="font-size: 13px">{{comment?.createdAt | date: 'dd/MM/yyyy'}}</p>
          </div>
          <div class="col-9">
            <p align="left">{{comment?.content}}</p>
          </div>
        </div>
        <div class="row">
          <div class="row" style="margin-top: 20px">
            <div class="col-10" align="left">
              <div style="margin-left: 15px">
                <span style="margin-top: 5px; font-size: 17px">
                 Trang: {{currentPageAddOneComment}}/ Tổngsố: {{pageComment?.page?.totalElements}}</span>
              </div>

            </div>
            <div class="col-2" align="left">
              <div>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                  <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-link" (click)="previousPageComment()">
                    <span style="font-size: 15px"
                          class="material-icons hoverYellowColor cursorTag">arrow_back_ios</span>
                    </button>
                    <button type="button" class="btn btn-link" (click)="nextPageComment()">
                  <span style="font-size: 15px"
                        class="material-icons hoverYellowColor cursorTag">arrow_forward_ios</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-top: 5px; background-color: whitesmoke" class="col-4">
      <div class="row" style="background-color: white; margin-right: 5px;">
        <div class="col-3" style="margin-top: 10px">
          <img style="width: 50px; height: 50px; border-radius: 50%; border: #3f6ba4 1px solid"
               src="../../../assets/images/logo.png">
        </div>
        <div class="col-9" style="margin-top: 10px">
          <p class="hoverYellowColor, cursorTag" [routerLink]="['/detailUser', user?.id]">{{user?.fullName}}</p>
        </div>
      </div>
      <div class="row" style="background-color: white; margin-right: 5px">
        <div class="col-2"></div>
        <div class="col-8" align="center">
          <button
            class="btn btn-light" style="width: 100%; margin-top: 20px">
            <a target="_blank" href="{{urlZalo}}">Chat qua Zalo</a>
          </button>
        </div>
        <div class="col-2"></div>
      </div>
      <div class="row" style="background-color: white; margin-right: 5px">
        <div class="col-2"></div>
        <div class="col-8" align="center">
          <button class="btn btn-info" style="width: 100%; margin-top: 10px; margin-bottom: 10px">
            <sub><span style="font-size: 18px" class="material-icons">local_phone</span></sub>
            <a style="color: white" href="{{urlPhone}}">&nbsp;{{user?.phone}}</a>
          </button>
        </div>
        <div class="col-2"></div>
      </div>
      <div class="row" style="background-color: white; margin-right: 5px; margin-top: 10px">
        <div class="col-12">
          <h5>Cho thuê nhà riêng tại {{houseDetail?.district}} </h5>
          <div class="row" *ngFor="let address of housesSameAddress as i">
            <div style="margin-left: 5px">
              <span>{{address?.ward}}</span>
              <span>&nbsp;({{address?.numberCount}})</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="background-color: white; margin-right: 5px; margin-top: 10px">
        <div class="col-12">
          <div class="row" *ngFor="let t of transactional as i" style="margin-top: 5px">
            <div style="margin-left: 5px">
              <span>{{t?.fullNameUserGuest}}</span>
              <div class="row">
                <div class="col-10">
                  <span>{{t?.startTime | date: 'dd/MM/yyyy'}}</span>
                  <span> - </span>
                  <span>{{t?.endTime | date: 'dd/MM/yyyy'}}</span>
                </div>
                <div class="col-1" align="right">
                  <sub><span tooltip="Quay lại" [routerLink]="['/detailTransactional',t?.id]"
                             class="material-icons cursorTag hoverYellowColor">info</span></sub>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <span>{{t?.status}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 20px">
          <div class="col-10" align="left">
            <p style="margin-top: 5px; font-size: 17px; margin-left: 5px">Trang: {{currentPageAddOne}}/ Tổng
              số: {{pageTransactional?.page?.totalElements}}</p>
          </div>
          <div class="col-2" align="left">
            <div>
              <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                  <button type="button" class="btn btn-link" (click)="previousPage()">
                     <span style="font-size: 15px"
                           class="material-icons hoverYellowColor cursorTag">arrow_back_ios</span>
                  </button>
                  <button type="button" class="btn btn-link" (click)="nextPage()">
                    <span style="font-size: 15px"
                          class="material-icons hoverYellowColor cursorTag">arrow_forward_ios</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
