<app-header></app-header>
<div class="container" style="margin-top: 10px; margin-bottom: 10px; background-color: whitesmoke">
  <span tooltip="Quay lại" [routerLink]="['/detailHouse', house?.id]" style="font-size: 35px; cursor: pointer;"
        class="material-icons hoverYellowColor">arrow_back</span>
  <hr>
  <div class="row" *ngIf="house?.idUser == idUserLogin && transactional?.status == 'PROCESSING'">
    <div style="margin-left: 15px; margin-bottom: 10px">
      <button (click)="updateTransactional()" type="button" class="btn btn-info">Xác nhận</button>
    </div>
  </div>
  <div class="row" style="height: 500px">
    <div class="col-6">
      <img style="width: 100%" src="{{house?.image}}">
      <div class="row" *ngIf="house?.idUser != idUserLogin">
        <div class="col-6">
          <button style="margin-top: 10px" type="button" class="btn btn-info" (click)="cancelRental()">
            Hủy thuê
          </button>
        </div>
        <div class="col-6" align="right">
          <button *ngIf="transactional?.status == 'CONFIRM'"
                  style="margin-top: 10px" type="button" class="btn btn-info" (click)="checkIn()">
            Check in
          </button>
        </div>
      </div>
      <p>{{house?.name}}</p>
      <p>Giá thuê 1 ngày: {{house?.price}}</p>
      <p *ngIf="transactional?.status == 'COMPLETED'">Tổng số tiền thuê: {{transactional?.totalAmountActual}} VNĐ</p>
      <p *ngIf="transactional?.status != 'COMPLETED'">Tổng số tiền thuê: {{transactional?.totalAmountExpected}} VNĐ</p>
      <span>Thời gian thuê: </span>
      <span>{{transactional?.startTime | date: 'dd/MM/yyyy'}}</span>
      <span> - </span>
      <span>{{transactional?.endTime | date: 'dd/MM/yyyy'}}</span>

      <p *ngIf="'CANCELED' == transactional?.status" style="margin-top: 10px;">Trạng thái: <b
        style="color: red">{{transactional?.status}}</b></p>
      <p *ngIf="'PROCESSING' == transactional?.status" style="margin-top: 10px;">Trạng thái: <b
        style="color: #ffc107">{{transactional?.status}}</b></p>
      <p *ngIf="'COMPLETED' == transactional?.status" style="margin-top: 10px;">Trạng thái: <b
        style="color: green">{{transactional?.status}}</b></p>
      <p *ngIf="'CONFIRM' == transactional?.status" style="margin-top: 10px;">Trạng thái:
        <b>{{transactional?.status}}</b></p>
    </div>
    <div class="col-6">
      <p>Chủ nhà: {{user?.fullName}}</p>
      <p>Số điện thoại: {{user?.phone}}</p>
    </div>
  </div>
</div>

<app-snackbar [message]="message"></app-snackbar>
<button id="snackbarBtn" hidden onclick="myFunction()">Show Snackbar</button>
