<div style="background-color: #3f6ba4; height: 100px;">
  <div class="row">
    <div class="col-2" style="height: 100px">
      <img style="width: 200px; height: 100%; padding-right: 10px" src="../../../assets/images/logo2.png">
    </div>
    <div class="col-6">
     <span tooltip="Quản lý chi tiết" *ngIf="isAdmin" [routerLink]="['/adminPage']"
           style="font-size: 30px; margin-top: 30px; color: white"
           class="material-icons hoverYellowColor cursorTag">settings</span>
    </div>
    <div *ngIf="idUser == null || idUser == ''" class="col-2">
      <button [routerLink]="['/login']" style="margin-top: 30px" class="btn btn-light">Đăng nhập</button>
    </div>
    <div *ngIf="idUser == null || idUser == ''" class="col-2">
      <button [routerLink]="['/register']" style="margin-top: 30px" class="btn btn-light">Đăng Ký</button>
    </div>
    <div *ngIf="idUser != null && idUser != ''" class="col-2">
      <div class="row">
        <div class="col-1">
          <div style="color: white; margin-top: 35px; cursor: pointer;" align="left">
            <div class="dropdown">
              <span class="material-icons" data-toggle="dropdown">notifications_active</span>
              <sup><sup><sup><span style="font-size: 10px">{{count}}</span></sup></sup></sup>
              <div class="dropdown-menu">
                <div class="row" style="margin-left: 5px">
                 <div class="col-12" *ngIf="notifications?.length == 0">
                   <b class="dropdown-item">Không có thông báo</b>
                 </div>
                  <div class="col-6" *ngIf="notifications?.length != 0">
                    <b class="cursorTag hoverYellowColor" (click)="updateAllNotification('Y')">Đọc tất cả</b>
                  </div>
                  <div class="col-6" *ngIf="notifications?.length != 0">
                    <b class="cursorTag hoverYellowColor" (click)="updateAllNotification('D')">Xóa tất cả</b>
                  </div>
                </div>
                <div *ngFor="let noti of notifications">
                  <a (click)="updateNotification(noti?.id)" *ngIf="noti.status == 'N'" style="background-color: #ece0e0"
                     class="dropdown-item" [routerLink]="['/detailHouse', noti?.idHouse]">
                    <span style="margin-right: 28px"></span>
                    {{noti?.content}}
                  </a>
                  <a (click)="updateNotification(noti?.id)" *ngIf="noti.status == 'Y'"
                     class="dropdown-item" [routerLink]="['/detailHouse', noti?.idHouse]">
                    <sub>
                      <span style="color: #2dbd2d" class="material-icons">done</span>
                    </sub>
                    {{noti?.content}}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-10">
          <div style="color: white; margin-top: 32px; cursor: pointer" [routerLink]="['/detailUser', idUser]">
            <sub><span class="material-icons">account_box</span></sub>&nbsp;
            <span style="font-size: 18px">{{username}}</span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="idUser != null && idUser != ''" class="col-2">
      <button [routerLink]="['/login']" (click)="logout()" style="margin-top: 30px" class="btn btn-light">
        Đăng Xuất
      </button>
    </div>
  </div>
</div>

